/* -------------------------------------
    CONFIGURE YOUR VARIABLES
------------------------------------- */

$padding: 20px; // For consistent padding
$small-padding: 10px; // For consistent padding
$grey: #f6f6f6; // Background color
$med-grey: #cccccc; // Border color
$dark-grey: #6f6f6f; // For grey color text, dark grey border... etc.
$width: 600px; // Width of the content area
$br: 3px; // Border radius
$primary-color: #348eda; // Primary color for buttons and links
