---
layout: simple.hbs
subject: Your Funsha account is deleted
emailTitle: Account Deletion
recipientEmail: sungpatrick@hotmail.com
showNotifSettings: false
---

<tr>
    <td class="content-block">
        You have deleted your Funsha account and we are sorry to see you leave.<br/>
        Hope we will have the oppurtunity to serve you again in the future.
    </td>
</tr>
<tr>
    <td class="content-block">
        We wish you the best<br/>
        The Funsha team
    </td>
</tr>
