---
layout: simple.html
subject: Please activate your account
emailTitle: Account Activation
recipientEmail: sungpatrick@hotmail.com
---

<tr>
	<td class="content-block">
		You have successfully created an account with funsha.<br/>
		Before you can fully access it, please first activate your account:
	</td>
</tr>
<tr>
	<td class="content-block">
		<a href="funsha.com" class="btn-primary">Activate account</a>
	</td>
</tr>
<tr>
	<td class="content-block">
		If you have received this email by mistake, please ignore this email.
	</td>
</tr>