---
layout: simple.hbs
subject: Colin Huang cancelled request to borrow your Wilson Basketball
emailTitle: Pending Borrowing Request Cancelled
recipientEmail: sungpatrick@hotmail.com
showNotifSettings: true
---

<tr>
    <td class="content-block">
        Colin Huang cancelled his/hers borrowing request:
    </td>
</tr>
<tr>
    <td class="content-block">
      <table width="100%" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td class="transaction">
                  <table width="100%" border="0" cellpadding="0" cellspacing="0">
                      <tr>
                            <td class="img_container user"><img src="img/test_user_colin_50x50.jpg" width="50px" height="50px" alt="Borrower's profile picture"/></td>
                              <td>
                                  <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                      <tr>
                                          <td><b>Colin Huang</b> is requesting for <b>Wilson Basketball</b></td>
                                      </tr>
                                      <tr>
                                          <td><span class="hint" title="Pickup date">April 1 2013</span> ~ <span class="hint" title="Return date">April 2 2013</span></td>
                                      </tr>
                                  </table>
                              </td>
                      </tr>
                  </table>
            </td>
          </tr>
        </table>
    </td>
</tr>
<tr>
    <td class="content-block">
        <a href="http://www.funsha.com" class="btn-primary">View Colin Huang's profile</a>
    </td>
</tr>

