---
layout: simple.hbs
subject: "Colin Huang recommended you to join a Funsha circle: [Burnaby Fishing Enthusiasts]"
emailTitle: Circle Recommendation
recipientEmail: sungpatrick@hotmail.com
showNotifSettings: false
---

<tr>
    <td class="content-block">
      <a href="http://www.funsha.com">Colin Huang</a> recommended you to join the following Funsha circle:
    </td>
</tr>
<tr>
    <td class="content-block small">
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
              <tr>
                    <td class="box">
                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td class="img_container circle"><a href="http://www.funsha.com"><img src="img/test_circle_fishing.jpg" width="50px" height="50px" alt="Circle's profile picture"/></a></td>
                                <td>
                                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td class="content-block small"><b><a href="http://www.funsha.com">Burnaby Fishing Enthusiasts</a></b></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table border="0" cellpadding="0" cellspacing="0">
                                                    <tr class="multi_attr_container">
                                                        <td>Members: 428</td>
                                                        <td>Items: 541</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
          </table>
    </td>
</tr>
<tr>
  <td class="content-block">
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td class="box grey">
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
              <tr>
                  <td class="img_container user"><a href="http://www.funsha.com"><img src="img/test_user_colin_50x50.jpg" width="50px" height="50px" alt="User's profile picture"/></a></td>
                  <td>
                      <table width="100%" border="0" cellpadding="0" cellspacing="0">
                          <tr>
                              <td class="content-block small"><b><a href="http://www.funsha.com">Colin Huang</a>:</b></td>
                          </tr>
                          <tr>
                              <td class="content-block small"><p>You like finshing. I think you will have fun joining this circle!</p></td>
                          </tr>
                      </table>
                  </td>
              </tr>
            </table>
        </td>
      </tr>
    </table>
  </td>
</tr>
<tr>
    <td class="content-block">
        <a href="http://www.funsha.com" class="btn-primary">View circle</a>
    </td>
</tr>
<tr>
    <td class="content-block">
        <table>
            <tr>
                <td class="box standout">
                    <h2>What is Funsha?</h2>
                    Funsha is a site that helps you safely share things with your friends, classmates, colleagues or others in your neighbourhood through peer-to-peer lending and borrowing.<br/><br/>
                    <h2>Why sharing?</h2>
                    Instead of buying things at full cost and only using them once or twice, Funsha can help you save money by borrowing the items you need, when you need them. Some items can even be borrowed for free! Or make some money by renting out stuff you’re not using to friends, classmates, colleagues or others nearby. Either way, you can feel good about being environmentally friendly by conserving resources and sharing goods within your local community.<br/><br/>
                    <h2>What is a Funsha circle?</h2>
                    Uncomfortable lending to strangers? At Funsha, users can use circles to create communities of trusted users focused on specific areas or interests.<br/><br/>
                    Ready to Funsha? Joining Funsha is free. <b><a href="http://www.funsha.com">Sign up now</a></b><br/>
                    To find out more about Funsha, please visit us at <b><a href="http://www.funsha.com">Funsha.com</a></b>
                </td>
            </tr>
        </table>
    </td>
</tr>
