---
layout: simple.hbs
subject: "Colin Huang requested to join [Burnaby Fishing Enthusiasts]"
emailTitle: New Circle Joining Request
recipientEmail: sungpatrick@hotmail.com
showNotifSettings: true
---

<tr>
    <td class="content-block">
        Following user requested to join your circle <a href="http://www.funsha.com">Burnaby Fishing Enthusiasts</a>:
    </td>
</tr>
<tr>
    <td class="content-block">
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
              <tr>
                    <td class="box">
                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td class="img_container user"><a href="http://www.funsha.com"><img src="img/test_user_colin_50x50.jpg" width="50px" height="50px" alt="User's profile picture"/></a></td>
                                <td>
                                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td class="content-block small"><b><a href="http://www.funsha.com">Colin Huang</a></b></td>
                                        </tr>
                                        <tr>
                                            <td class="hint">Sharing items: 16</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
          </table>
    </td>
</tr>
<tr>
    <td class="content-block">
        <a href="http://www.funsha.com" class="btn-primary">Respond to request</a>
    </td>
</tr>
