---
layout: simple.hbs
subject: "Your circle joining request is declined: [Burnaby Fishing Enthusiasts]"
emailTitle: Circle Joining Request Declined
recipientEmail: sungpatrick@hotmail.com
showNotifSettings: true
---

<tr>
    <td class="content-block">
        Your request to join the following circle is declined:
    </td>
</tr>
<tr>
    <td class="content-block small">
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
              <tr>
                    <td class="box">
                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td class="img_container circle"><a href="http://www.funsha.com"><img src="img/test_circle_fishing.jpg" width="50px" height="50px" alt="Circle's profile picture"/></a></td>
                                <td>
                                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td class="content-block small"><b><a href="http://www.funsha.com">Burnaby Fishing Enthusiasts</a></b></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table border="0" cellpadding="0" cellspacing="0">
                                                    <tr class="multi_attr_container">
                                                        <td>Members: 428</td>
                                                        <td>Items: 541</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
          </table>
    </td>
</tr>
<tr>
    <td class="content-block">
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
              <tr>
                    <td class="box grey">
                        <b>Reason:</b> Not stated.
                    </td>
                </tr>
          </table>
    </td>
</tr>
<tr>
    <td class="content-block">
        <a href="http://www.funsha.com" class="btn-primary">Manage request</a>
    </td>
</tr>
