---
layout: simple.hbs
subject: Your circle discussion topic is removed
emailTitle: Discussion in Circle Removed
recipientEmail: sungpatrick@hotmail.com
showNotifSettings: true
---

<tr>
    <td class="content-block">
        <a href="http://www.funsha.com">Frank Lin</a> (circle admin) removed your following discussion topic in circle <a href="http://www.funsha.com">Burnaby Fishing Enthusiasts</a>:
    </td>
</tr>
<tr>
    <td class="content-block small">
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
              <tr>
                    <td class="box">
                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td class="content-block small"><b>Good places to meet for item exchange</b></td>
                            </tr>
                            <tr>
                                <td class="content-block small"><p>Aenean velit enim, vulputate quis vehicula ac, consectetur vel sem. Nunc at massa ultrices urna posuere scelerisque. Aenean velit enim, vulputate quis vehicula ac, consectetur vel sem. Nunc at massa ultrices urna posuere scelerisque</p></td>
                            </tr>
                            <tr>
                                <td class="hint">8:53pm April 18 2013</td>
                            </tr>
                        </table>
                    </td>
                </tr>
          </table>
    </td>
</tr>
<tr>
    <td class="content-block">
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
              <tr>
                    <td class="box grey">
                        <b>Reason:</b> Not stated.
                    </td>
                </tr>
          </table>
    </td>
</tr>
<tr>
    <td class="content-block">
        <a href="http://www.funsha.com" class="btn-primary">View circle</a>
    </td>
</tr>
