---
layout: simple.hbs
subject: "Colin Huang commented on \"Good places to meet for item exchange\""
emailTitle: New Discussion Comment
recipientEmail: sungpatrick@hotmail.com
showNotifSettings: true
---

<tr>
    <td class="content-block">
        New comment on <a href="http://www.funsha.com">"Good places to meet for item exchange"</a> in circle <a href="http://www.funsha.com">Burnaby Fishing Enthusiasts</a>:
    </td>
</tr>
<tr>
    <td class="content-block">
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
              <tr>
                    <td class="box grey">
                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td class="img_container user"><a href="http://www.funsha.com"><img src="img/test_user_colin_50x50.jpg" width="50px" height="50px" alt="User's profile image"/></a></td>
                                <td>
                                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td class="content-block small"><b><a href="http://www.funsha.com">Colin Huang</a>:</b></td>
                                        </tr>
                                        <tr>
                                            <td class="content-block small"><p>Aenean velit enim, vulputate quis vehicula ac, consectetur vel sem. Nunc at massa ultrices urna posuere scelerisque. Aenean velit enim, vulputate quis vehicula ac, consectetur vel sem. Nunc at massa ultrices urna posuere scelerisque</p></td>
                                        </tr>
                                        <tr>
                                            <td class="hint">8:53pm April 18 2013</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
          </table>
    </td>
</tr>
<tr>
    <td class="content-block">
        <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td class="border_bottom">Comment history:</td>
            </tr>
            <tr>
                <td class="content-wrap border_bottom">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td class="img_container user"><a href="http://www.funsha.com"><img src="img/user_no_img_50x50.jpg" width="50px" height="50px" alt="User's profile image"/></a></td>
                            <td>
                                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td class="content-block small"><b><a href="http://www.funsha.com">Frank Lin</a>:</b></td>
                                    </tr>
                                    <tr>
                                        <td class="content-block small"><p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p></td>
                                    </tr>
                                    <tr>
                                        <td class="hint">1:11pm April 17 2013</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="content-wrap border_bottom">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td class="img_container user"><a href="http://www.funsha.com"><img src="img/user_no_img_50x50.jpg" width="50px" height="50px" alt="User's profile image"/></a></td>
                            <td>
                                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td class="content-block small"><b><a href="http://www.funsha.com">Frank Lin</a>:</b></td>
                                    </tr>
                                    <tr>
                                        <td class="content-block small"><p>I don't like that</p></td>
                                    </tr>
                                    <tr>
                                        <td class="hint">9:10pm April 16 2013</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="content-wrap border_bottom">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td class="img_container user"><a href="http://www.funsha.com"><img src="img/test_user_colin_50x50.jpg" width="50px" height="50px" alt="User's profile image"/></a></td>
                            <td>
                                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td class="content-block small"><b><a href="http://www.funsha.com">Colin Huang</a>:</b></td>
                                    </tr>
                                    <tr>
                                        <td class="content-block small"><p>Neh, I don't think that will work...</p></td>
                                    </tr>
                                    <tr>
                                        <td class="hint">10:36am April 13 2013</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="content-wrap small aligncenter">
                    <a href="http://www.funsha.com" class="btn-primary">View all comments</a>
                </td>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td class="content-block">
        <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td class="border_bottom">Original Post:</td>
            </tr>
            <tr>
                <td class="content-wrap border_bottom">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td class="img_container user"><a href="http://www.funsha.com"><img src="img/user_no_img_50x50.jpg" width="50px" height="50px" alt="User's profile image"/></a></td>
                            <td>
                                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td class="content-block small"><b><a href="http://www.funsha.com">Simon Cow</a>:</b></td>
                                    </tr>
                                    <tr>
                                        <td class="content-block small"><p>Ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p></td>
                                    </tr>
                                    <tr>
                                        <td class="hint">12:26pm April 12 2013</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="content-wrap small aligncenter">
                    <a href="http://www.funsha.com" class="btn-primary">View discussion</a>
                    <a href="http://www.funsha.com" class="btn-primary">Post comment</a>
                </td>
            </tr>
        </table>
    </td>
</tr>
