---
layout: simple.hbs
subject: Please verify change of account email
emailTitle: Verify Change of Account Email
recipientEmail: sungpatrick@hotmail.com
showNotifSettings: true
---

<tr>
    <td class="content-block">
        You have requested to change your Funsha account's email to:<br/>
        <b>{{ recipientEmail }}</b>
    </td>
</tr>
<tr>
    <td class="content-block">
        Please verify the change to complete the process.
    </td>
</tr>
<tr>
    <td class="content-block">
        <a href="http://www.funsha.com" class="btn-primary">Verify</a>
    </td>
</tr>
