---
layout: simple.hbs
subject: Please confirm reset password
emailTitle: Confirm Reset Password
recipientEmail: sungpatrick@hotmail.com
showNotifSettings: true
---

<tr>
    <td class="content-block">
        You have requested to reset your account passward.<br/>
        Please confirm the request and proceed to the reset password page to complete the process:
    </td>
</tr>
<tr>
    <td class="content-block">
        <a href="http://www.funsha.com" class="btn-primary">Confirm Reset Password</a>
    </td>
</tr>
