---
layout: simple.hbs
subject: "Please share your feedback in \"Borrowing Wilson Basketball from Colin Huang\""
emailTitle: Share Your Feedback
recipientEmail: sungpatrick@hotmail.com
showNotifSettings: true
---

<tr>
    <td class="content-block">
        You are now eligible to leave feedback to the following closed transaction.<br/> Your feedback is super important for other users and we appreciate your input.
    </td>
</tr>
<tr>
    <td class="content-block">
      <table width="100%" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td class="transaction">
                  <table width="100%" border="0" cellpadding="0" cellspacing="0">
                      <tr>
                          <td>
                              <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                  <tr>
                                      <td>Borrowing <b>Wilson Basketball</b> from <b>Colin Huang</b></td>
                                  </tr>
                                  <tr>
                                      <td><span class="hint" title="Pickup date">April 1 2013</span> ~ <span class="hint" title="Return date">April 2 2013</span></td>
                                  </tr>
                              </table>
                          </td>
                          <td class="img_container item alignright"><img src="img/test_item_ball.jpg" width="50px" height="50px" alt="Item image"/></td>
                      </tr>
                  </table>
            </td>
          </tr>
        </table>
    </td>
</tr>
<tr>
    <td class="content-block">
        <a href="http://www.funsha.com" class="btn-primary">Leave feedback</a>
    </td>
</tr>
