---
layout: simple.hbs
subject: "An item’s posting has been updated: Wilson Basketball"
emailTitle: Item Posting Updated
recipientEmail: sungpatrick@hotmail.com
showNotifSettings: true
---

<tr>
    <td class="content-block">
        The posting of the following item, which you are currently requesting and/or borrowing, has been updated by its owner. You may want to make sure your request and/or transaction is not affected.
    </td>
</tr>
<tr>
    <td class="content-block">
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
              <tr>
                    <td class="box">
                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td class="img_container item"><a href="http://www.funsha.com"><img src="img/test_item_ball.jpg" width="50px" height="50px" alt="Item image"/></a></td>
                                <td>
                                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td class="content-block small"><b><a href="http://www.funsha.com">Wilson Basketball</a></b></td>
                                        </tr>
                                        <tr>
                                            <td class="hint">Owner: <a href="http://www.funsha.com">Colin Huang</a></td>
                                        </tr>
                                        <tr>
                                            <td class="hint">Daily Rental Fee: CAD $1</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
          </table>
    </td>
</tr>
<tr>
    <td class="content-block">
        <a href="http://www.funsha.com" class="btn-primary">View item</a>
    </td>
</tr>
