---
layout: simple.hbs
subject: "Colin Huang sent you a private message"
emailTitle: Private Message from Colin Huang
recipientEmail: sungpatrick@hotmail.com
showNotifSettings: true
---

<tr>
    <td class="content-block">
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
              <tr>
                    <td class="box grey">
                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td class="img_container user"><a href="http://www.funsha.com"><img src="img/test_user_colin_50x50.jpg" width="50px" height="50px" alt="Sender's profile picture"/></a></td>
                                <td>
                                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td class="content-block small"><b><a href="http://www.funsha.com">Colin Huang</a>:</b></td>
                                        </tr>
                                        <tr>
                                            <td class="content-block small"><p>Aenean velit enim, vulputate quis vehicula ac, consectetur vel sem. Nunc at massa ultrices urna posuere scelerisque. Aenean velit enim, vulputate quis vehicula ac, consectetur vel sem. Nunc at massa ultrices urna posuere scelerisque</p></td>
                                        </tr>
                                        <tr>
                                            <td class="hint">8:53pm April 18 2013</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
          </table>
    </td>
</tr>
<tr>
    <td class="content-block">
        <a href="http://www.funsha.com" class="btn-primary">View Colin Huang's profile</a>
    </td>
</tr>
