---
layout: simple.hbs
subject: Colin Huang proposed to change transaction details
emailTitle: New Transaction Change Proposal
recipientEmail: sungpatrick@hotmail.com
showNotifSettings: true
---

<tr>
    <td class="content-block">
        Colin Huang proposed to change following transaction's details:
    </td>
</tr>
<tr>
    <td class="content-block">
      <table width="100%" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td class="transaction">
                  <table width="100%" border="0" cellpadding="0" cellspacing="0">
                      <tr>
                          <td>
                              <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                  <tr>
                                      <td>Borrowing <b>Wilson Basketball</b> from <b>Colin Huang</b></td>
                                  </tr>
                                  <tr>
                                      <td><span class="hint" title="Pickup date">April 1 2013</span> ~ <span class="hint" title="Return date">April 2 2013</span></td>
                                  </tr>
                              </table>
                          </td>
                          <td class="img_container item alignright"><img src="img/test_item_ball.jpg" width="50px" height="50px" alt="Item image"/></td>
                      </tr>
                  </table>
            </td>
          </tr>
        </table>
    </td>
</tr>
<tr>
    <td class="content-block">
      <table width="100%" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td class="transaction_proposal">
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td><b>Colin Huang's proposal:</b></td>
                </tr>
                <tr>
                  <td class="hint border_bottom">Proposed on March 23 2013</td>
                </tr>
              </table>
              <table width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td class="heading">Pickup Date</td>
                    <td class="original_value"><span title="Current pickup date">April 1 2013</span></td>
                    <td class="arrow">&rarr;</td>
                    <td class="proposed_value"><span title="Proposed pickup date">April 1 2013</span></td>
                </tr>
                <tr>
                    <td class="heading">Return Date</td>
                    <td class="original_value"><span title="Current return date">April 2 2013</span></td>
                    <td class="arrow">&rarr;</td>
                    <td class="proposed_value"><span title="Proposed return date">April 6 2013</span></td>
                </tr>
                <tr>
                    <td class="heading">Total Rental Fee will be</td>
                    <td  class="original_value"><span title="Current total rental fee" >CAD $1</span></td>
                    <td class="arrow">&rarr;</td>
                    <td class="proposed_value"><span title="Proposed total rental fee">CAD $6</span></td>
                </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
</tr>
<tr>
    <td class="content-block">
        <a href="http://www.funsha.com" class="btn-primary">Respond to proposal</a>
    </td>
</tr>

