---
layout: simple.hbs
subject: "Your wish is expired: \"Sony Alpha 6 mirrorless camera\""
emailTitle: Wish Expired
recipientEmail: sungpatrick@hotmail.com
showNotifSettings: true
---

<tr>
    <td class="content-block">
        Your following wish had been posted for 30 days and is now expired:
    </td>
</tr>
<tr>
    <td class="content-block">
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
              <tr>
                    <td class="box">
                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td>
                                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td class="content-block small"><b><a href="http://www.funsha.com">Sony Alpha 6 mirrorless camera</a></b></td>
                                        </tr>
                                        <tr>
                                            <td class="content-block"><p>Aenean velit enim, vulputate quis vehicula ac, consectetur vel sem. Nunc at massa ultrices urna posuere scelerisque. Aenean velit enim, vulputate quis vehicula ac, consectetur vel sem. Nunc at massa ultrices urna posuere scelerisque</p></td>
                                        </tr>
                                    </table>
                                </td>
                                <td class="wish_response_container">
                                    <table border="0" cellpadding="0" cellspacing="0" >
                                        <tr>
                                            <td class="content-block small hint">Response</td>
                                        </tr>
                                        <tr>
                                            <td class="wish_response"><b>12</b></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
          </table>
    </td>
</tr>
<tr>
    <td class="content-block">
        <a href="http://www.funsha.com" class="btn-primary">Edit / repost wish</a>
        <a href="http://www.funsha.com" class="btn-primary">Manage expired wishes</a>
    </td>
</tr>
