<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta name="viewport" content="width=device-width" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>{{ subject }}</title>
	<link href="../src/css/main.css" media="all" rel="stylesheet" type="text/css" />
</head>
<body>
	<table class="body-wrap">
		<tr>
			<td></td>
			<td class="container" width="600">
				<div class="content">
					<div class="header">
						<table width="100%" cellpadding="0" cellspacing="0">
							<tr>
								<td>
									<a href="funsha.com"><img src="../src/img/funsha_logo_long_light.png" height="50px" alt="Funsha.com"/></a>
								</td>
							</tr>
							<tr>
								<td>
									Where you <a href="funsha.com/post_item">lend</a> &amp; <a href="funsha.com/find_item">borrow</a> items with others
								</td>
							</tr>
						</table>
					</div>
					<table class="main" width="100%" cellpadding="0" cellspacing="0">
						<tr>
							<td class="content-wrap">
								<table width="100%" cellpadding="0" cellspacing="0">
									<tr>
										<td class="content-block">
											<h1>{{ emailTitle }}</h1>
										</td>
									</tr>
									{{ body }}
								</table>
							</td>
						</tr>
					</table>
					<div class="footer">
						<table width="100%" cellpadding="0" cellspacing="0">
							<tr>
								<td class="aligncenter content-block">
									This email was sent to {{ recipientEmail }}<br/>
									<!-- TODO [Colin]: "Show or hide following line-->
									<a href="funsha.com/settings">Change email notification settings</a> at any time.<br/>
									Add no-reply@funsha.com to your address book to make sure you get mail from Funsha.<br/>
									Contact us at <a href="mailto:support@funsha.com">support@funsha.com</a><br/>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</td>
			<td></td>
		</tr>
	</table>
</body>
</html>